body {
  background-image: url("../img/menu.jpg");
}
.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; 
	opacity: .98;
	width: 40rem;
}
#gioca{
	background-color:D6422B:
}